.close {
  color: #aaaaaa;
  float: left;
  font-size: 25px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.dis {
  width: 25%;
  display: flex;
  float: left;
}

